.detail-card{
    width: 94%;
    box-shadow: 0px 0px 10px black;
    float: left;
    height: 250px;
    overflow: hidden;
    display: block;
    padding:3%;
    border-radius: 10px;
    margin-bottom: 30px;
    
}
.home-btn{
    padding: 10px;
    background-color: green;
    border:none;
    border-radius: 5px;
    color: white;
}
.home-btn:hover{
    background-color:gray;
}
.images-area{
    width:10%;
    float: left;
    margin-right: 30px;
}
.images-area img{
    width:100%;
    border-radius: 50%;
}
.content-area{
    width: 70%;
}